<style>
    body {
        font-family: initial;
        font-size: 16px;
    }

    .spacer {
        flex: 1;
    }

    a {
        margin-right: 20px;
        color: black;
    }

    .toolbar {
        /* font-family: Comic Sans MS; */
        position: absolute;
        font-size: 20px;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        display: flex;
        align-items: center;
        /* background-image: url(../assets/images/MicrosoftTeams-image\ \(2\).png); */
        color: black;
        font-weight: 6200;
    }

    .toolbar img {
        margin: 0 16px;
        height: 60px;
    }

    .toolbar #twitter-logo {
        height: 40px;
        margin: 0 16px;
    }

    .toolbar #twitter-logo:hover {
        opacity: 0.8;
    }

    .fa-shopping-cart {
        font-size: 50px;
        margin: 10px;
    }
</style>

<div class="toolbar" role="banner">
    <!-- <i class="fas fa-shopping-cart"></i> -->
    <img src=" ../../../assets/images/BankLogo.jpg" />
    <span [routerLink]="['/dashboard']"><i>The Primer Bank</i></span>
    <div></div>
    <div></div>
    <button mat-button [matMenuTriggerFor]="menu">
    Service Category <i class="fas fa-caret-down"></i>
  </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let cat of categories" [routerLink]="['/display-Category/', cat.id]">
      {{ cat.name }}
    </button>
    </mat-menu>

    <div class="spacer"></div>
    <a type="button" [routerLink]="['/dashboard']">
    Home
  </a>
    <a type="button" [routerLink]="['/dashboard']">
   Help & Contact
  </a>
    <a type="button" *ngIf="user" [routerLink]="['/profile/', user.id]">
    Profile <i class="fas fa-user"></i>
  </a>
    <a type="button" (click)="login()" *ngIf="!user"> login </a>
</div>
<br />
<router-outlet></router-outlet>
